@page "/subjects"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Test.Models
@inject IDbContextFactory<Test.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="subjects/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Subjects">
    <PropertyColumn Property="subjects => subjects.Name" />
    <PropertyColumn Property="subjects => subjects.MajorId" />
    <PropertyColumn Property="subjects => subjects.Code" />

    <TemplateColumn Context="subjects">
        <a href="@($"subjects/edit?id={subjects.Id}")">Edit</a> |
        <a href="@($"subjects/details?id={subjects.Id}")">Details</a> |
        <a href="@($"subjects/delete?id={subjects.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
